.user-salary-form {
  .rounded {
    margin: 10% auto;
    background-color: #f4f6f8;
  }

  #userSalaryBtn {
    background-color: #6558f5;
    margin: auto;
  }

  .form-styles_cancel {
    margin: auto;
    text-align: center;
  }
}
