.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.Nav-icon {
  font-weight: bold;
  font-size: 14px;
  color: #394557;
  background-color: #dfe7ed;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 10px 30px;
  opacity: 1;
  cursor: pointer;
}

.Nav-link {
  font-weight: bold;
  font-size: 14px;
  color: #394557;
  padding: 20px 0px;
  margin: 0px 30px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.Nav-link:hover {
  opacity: 1;
  color: #394557;
}

.Nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #394557;
}

.Nav-link-ltr::before {
  width: 0%;
  bottom: 0px;
}

.Nav-link-ltr:hover::before {
  width: 85%;
}

.Nav_brand-name {
  font-size: 1.5em;
  font-family: "Exo 2", sans-serif;
  color: #394557;
  opacity: 0.65;
  letter-spacing: 3px;
}

.Nav_brand-name:hover {
  color: #394557;
  opacity: 0.85;
}

.sidebar a {
  font-weight: bold;
  font-size: 14px;
  color: #394557;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.Menu-link {
  font-weight: bold;
  font-size: 14px;
  color: #394557;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.Menu-link:hover {
  font-weight: bold;
}

.Menu-link.dropdown-item:active {
  color: unset;
  background-color: transparent;
}

.userMenu {
  min-width: 250px;
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  margin-top: 9px;
  right: 0;
  visibility: hidden;
  background-color: #f8f9fa;
}

.userMenu.is-open {
  visibility: visible;
}

.userMenu .list-group-item {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (max-width: 500px) {
  .fa-user {
    display: none;
  }

  .userMenu.is-open {
    min-width: 100%;
  }
}

.Nav-link-ltr {
  margin-bottom: -8px;
}

.Nav_brand-name {
  color: #6558f5;
}

nav.Link {
  color: black;
}

.right-content {
  margin-left: 375px;
}

.dropdown-link {
  color: unset;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.dropdown-link:hover {
  color: unset;
  background-color: transparent;
  transform: scale(1.5);
}