.adminNavbar > p {
  cursor: pointer;
  padding: 5px;
}

.adminNavbar > p > #questions,
#users,
#invoices,
#calendar {
  text-decoration: none;
  color: lightgrey;
}

.adminNavbar {
  height: 100vh;
  margin: 18px 6px;
}
