.adminPanel_h1 {
  font-size: 2em;
}

.adminPanel_main {
  display: grid;
  grid-template-areas: "content side";
  height: 100vh;
  background: #ECF0F5;
}

.adminPanel_main_showing {
  grid-template-columns: 75% 25%;
}

.adminPanel_main_docked {
  grid-template-columns: 93% 7%;
}

.adminPanel_navbar {
  position: relative; 
  overflow: hidden;
  background: #222D32;
  color: lightgrey;
}

.adminPanel_navbar_showing {
}

.adminPanel_navbar_docked {
  cursor: pointer;
  padding: 0;
}

.adminPanel_panel {
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 1.2em;
}

@media only screen and (max-width: 640px)  {
  .adminPanel_main_showing {
    grid-template-columns: 30% 70%;
  }
  .adminPanel_main_docked {
    grid-template-columns: 83% 17%;
  }
}

@media only screen and (min-width: 1200px)  {
  .adminPanel_main_showing {
    grid-template-columns: 80% 20%;
  }
  .adminPanel_main_docked {
    grid-template-columns: 96% 4%;
  }
}
