.forgotPassword-container {
  background-color: #f4f6f8;
  margin-top: 10%;
  padding-bottom: 5px;

  .text {
    text-align: center;

    .title {
      margin-top: 5%;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
}