.admin-h1 {
  font-size: 2em;
}

.admin-main {
  display: grid;
  grid-template-areas: "content side";
  grid-template-columns: 75% 25%;
  height: 100vh;
  background: #ECF0F5;
}

.admin-panel {
  grid-area: content;
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 1.2em;
}

.admin-navbar {
  grid-area: side;
  background: #222D32;
  color: lightgrey;
  padding: 0.7em;
}

@media only screen and (max-width: 640px)  {
  .admin-main{
    grid-template-columns: 100%;
  }

  .admin-navbar {
    display: none;
  }
}
