.Home-container {
  position: relative;
}

.Home-h1 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  color: white;
}

.Home-image1 {
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  
}
/* 
@media only screen and (max-width: 767px) {
  .Home-image1 {
    max-width: 140vw;
    height: auto;
    width: auto;
  }
	} */
