.ResetPassword-container {
  background-color: #f4f6f8;
  margin-top: 10%;
}

.form-container {
  margin-top: 10%;
  background-color: #f4f6f8;
}

.first-name {
  text-align: center;
}

.new-pass {
  text-align: center;
  font-weight: bold;
}

.resetPassword_button {
  margin-bottom: 20px;
}
