.ResetPassword-container {
  background-color: #f4f6f8;
  margin-top: 10%;
}

.form-container {
  margin-top: 10%;
  background-color: #F4F6F8;
}

.first-name{
  text-align: center;
}

.new-pass {
  text-align: center;
  font-weight: bold;
}