.Home-container {
  position: relative;
  background-color: black;
}

.Home-h1 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  color: white;
}

.Home-image1 {
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}

.Home-template,
.Home-database {
  border: 1px #dcd9d5 solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100vw;
  height: 50vh;
  text-align: center;
}
.Home-database {
  background-color: #DFE7ED;

}


.fa-user-tie, .fa-chart-bar{
  padding: 3% 3%;
  border: 2px solid black;
  font-size: 5em;
  text-align: center;
  margin: 5%;
}


.Home-get-started{
  background-color: #DFE7ED;
  border: 1px #dcd9d5 solid;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100vw;
  height: 40vh;
  text-align: center;
  padding: 8% 0;
}

.Home-stats{
  border: 1px #dcd9d5 solid;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.Home-circle {
  margin: 5%;
  display: inline-block;
  padding: 20px;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 1px solid black;
}

.Home-circle  p {
  font-size: 1.5rem;
  line-height: 30px;
}




@media only screen and (max-width: 767px) {
  .Home-image1 {
    object-fit: cover;
    width: 100vw;
    height: 767px;
  }
  .Home-h1 {
    font-size: 6vw;
  }

  /* .Home-database .Home-template {
    height: 10vh;
  }
  .Home-h4-template{
    font-size: 3vw;
  }
  .fa-chart-bar{
    margin-left: 20px;
  } */

}


