.Home_container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2vh;
}

.Home_container button {
  background-color: #6b43f1;
}

.Home_container h1 {
  color: #6b43f1;
}

.Home_image1 {
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.Home_template,
.Home_database {
  border: 1px #dcd9d5 solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100vw;
  height: 50vh;
  text-align: center;
}

.Home_database {
  background-color: #dfe7ed;
}

.fa-user-tie,
.fa-chart-bar {
  padding: 3% 3%;
  border: 2px solid black;
  font-size: 5em;
  text-align: center;
  margin: 5%;
}

.Home_stats {
  border: 1px #dcd9d5 solid;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.Home_circle {
  margin: 5%;
  display: inline-block;
  padding: 20px;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 1px solid black;
}

.Home_circle p {
  font-size: 1.5rem;
  line-height: 30px;
}

@media only screen and (max-width: 767px) {
  .Home_image1 {
    object-fit: cover;
    width: 100vw;
    height: 767px;
  }
  .Home_h1 {
    font-size: 6vw;
  }
}
