$primaryBtn: #5821b0;
$secondaryBtn: #31168b;

$primaryBkg: #7e30fc;
$secondaryBkg: #ad7cfc;
$tertiaryBkg: #825dbd;

$primaryGrey: #dad7de;
$secondaryGrey: #9e90e6;
$tertiaryGrey: #b8aec9;
$quartieryGrey: #aaa6b2;

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 75vh;

  h1 {
    text-align: center;
  }
  .btn {
    background-color: $primaryBtn;
    border-color: $primaryBtn;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
    width: 250px;
    margin: 15px;
    &:hover {
      cursor: pointer;
      background-color: $secondaryBtn !important;
    }
  }

  .img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 75%;
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

.Home_hero {
  font-family: "Raleway", "Lucida Sans";
  background: rgba($primaryBkg, 0.5); /* Fallback for old browsers */

  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   15deg,
  //   rgba(2, 0, 36, 0.8) 0%,
  //   rgba(126, 48, 252, 0.8) 28%,
  //   rgba(173, 124, 252, 0.35) 100%
  // );

  background-image: linear-gradient(190deg, #e2b0ff 10%, #9f44d3 100%);

  // background-image: linear-gradient(190deg, #f97794 10%, #623aa2 100%);

  min-height: 80vh;

  .hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      color: $primaryBtn;
    }

    p {
      color: white;
      text-align: center;
    }
  }
}

.Home_template {
  h1 {
    color: $primaryBtn;
  }
  p .color-emphasis {
    color: $primaryBtn;
  }
}

.Home_database {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $secondaryBkg, $alpha: 0.05);
  min-height: 75vh;

  .title-container {
    margin-bottom: 2rem;
    h1 {
      color: $primaryBtn;
      text-align: center;
    }
  }

  .col-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    min-height: 450px;
    // border: 1px solid red;

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid green;
      margin-bottom: 2rem;
      min-height: 212px;
      img {
        width: 75%;
      }
    }

    .content-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid blue;
      padding: 0.5rem 0;
      min-height: 170px;
      h4 {
        color: $primaryBtn;
        text-align: center;
      }
    }
  }

  /* Matches "Continued Support" img size relative to other imgs in DB section*/
  .col-container:last-child img {
    width: 90%;
  }
}

.Home_get-started {
  text-align: center;
  padding: 3rem;
  min-height: 80vh;
  background: rgba($primaryBkg, 0.7);

  .content-container.cta {
    background: white;
  }

  h2 {
    color: $secondaryBtn;
    font-weight: bold;
  }
}
