$primaryBtn: #5821b0;
$secondaryBtn: #31168b;
$primaryBkg: #7e30fc;
$secondaryBkg: #ad7cfc;
$tertiaryBkg: #825dbd;

$primaryGrey: #dad7de;
$secondaryGrey: #9e90e6;
$tertiaryGrey: #b8aec9;
$quartieryGrey: #aaa6b2;
$fiveGrey: #96919f;

.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 75vh;

  h1 {
    text-align: center;
  }
  .btn {
    background-color: $primaryBtn;
    border-color: $primaryBtn;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
    width: 250px;
    margin: 15px;
    &:hover {
      cursor: pointer;
      background-color: $secondaryBtn !important;
    }
  }

  .img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 75%;
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

.Home_hero {
  font-family: "Raleway", "Lucida Sans";
  background-color: rgba($primaryBkg, 0.3);
  min-height: 80vh;

  .hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      color: $primaryBtn;
    }

    p {
      color: white;
      text-align: center;
    }
  }
}

.Home_template {
  h1 {
    color: $primaryBtn;
  }
}

.Home_database {
  background-color: #eaeff6;
  min-height: 60vh;
}

.Home_database-title {
  color: $primaryBtn;
  margin-bottom: 1%;
  font-weight: bold;
  text-align: center;
}

.Home_database-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: $primaryBtn;
  }

  img {
    min-width: 20%;
    max-width: 20%;
    min-height: 10%;
    max-height: 10%;
    padding: 10px;
  }
}

.Home_database-text {
  margin-bottom: 1vh;
}

.Home_get-started {
  text-align: center;
  padding: 3rem;
  min-height: 80vh;
  background-color: rgba($primaryBkg, 0.8);

  .content-container.cta {
    background: white;
  }

  h2 {
    color: $secondaryBtn;
    font-weight: bold;
  }
}
