.Home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', 'Lucida Sans';
  width: 100vw;
  height: 80vh;
}

.Home_container h1 {
  font-weight: bold;
  color: #6558f5;
}

.Home_container .btn {
  background-color: #6558f5;
  border-color: #6558f5;
  font-weight: bold;
  font-size: 1.25em;
  width: 250px;
}

.Home_container .btn:hover,
.Home_container .btn:active:focus {
  cursor: pointer;
  background-color: #31168B !important;
}

.Home_template {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50vh;
  text-align: center;
}

.Home_template_child {
  padding: 3.5vw;
  justify-content: space-evenly;
}

.Home_template img {
  height: 35vh;
  width: 35vw;
  border-radius: 10px;
}

.Home_database {
  display: inline-flex;
  justify-content: space-evenly;
}

.fa-user-tie,
.fa-chart-bar {
  padding: 3% 3%;
  border: 2px solid black;
  font-size: 5em;
  text-align: center;
  margin: 5%;
}

.Home_get-started {
  background-color: #dfe7ed;
  border: 1px #dcd9d5 solid;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100vw;
  height: 40vh;
  text-align: center;
  padding: 8% 0;
}

.Home_stats {
  border: 1px #dcd9d5 solid;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.Home_circle {
  margin: 5%;
  display: inline-block;
  padding: 20px;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 1px solid black;
}

.Home_circle p {
  font-size: 1.5rem;
  line-height: 30px;
}

@media only screen and (max-width: 767px) {
  .Home_image1 {
    object-fit: cover;
    width: 100vw;
    height: 767px;
  }
  .Home_h1 {
    font-size: 6vw;
  }
}
