.Home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', 'Lucida Sans';
  width: 100vw;
  height: 60vh;
}

.Home_container h1 {
  font-weight: bold;
  color: #6558f5;
}

.Home_container .btn,
.Home_get-started .btn {
  background-color: #6558f5;
  border-color: #6558f5;
  font-weight: bold;
  font-size: 1.25em;
  width: 250px;
  margin: 15px;
}

.Home_container .btn:hover,
.Home_container .btn:active:focus,
.Home_get-started .btn:hover,
.Home_get-started .btn:active:focus
 {
  cursor: pointer;
  background-color: #31168B !important;
}

.Home_template-intro h1 {
  text-align: center;
}

.Home_template img {
  border-radius: 10px;
}

.Home_database {
  margin-top: 10vh;
}

.Home_database-title {
  text-align: center;
  margin-bottom: 1%;
  font-weight: bold;
}

.Home_database-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_database-img img {
  min-width: 20%;
  max-width: 20%;
  min-height: 10%;
  max-height: 10%;
  padding: 10px;
}

.Home_database-text {
  margin-bottom: 1vh;
}


.Home_get-started {
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 5px;
  height: 20vh;
  padding: 8% 0;
}